
  <footer class="footer">
    <div class="main-footer">
      <div class="container" style="max-width: 1130px;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7 mb-4">
            <div class="footer-about">
              <a class="footer-logo" href="/"><img class="img-fluid" src="https://neherald.com/images/newlogo.png" alt="logo"></a>
              <p style="text-align: justify;">Northeast Herald starts its journey from Tripura state capital city Agartala to cover the entire Northeast region of India for the latest news, news photos, and the latest photos to promote the great cultural, historical and traditional identity of the region.</p>
              <div class="footer-social">
                <ul class="social-icons">
                  <li>
                    <a href="https://www.facebook.com/profile.php?id=100086101862124" class="social-icon facebook"> <i class="fa-brands fa-facebook-f"></i> </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/HeraldNortheast" class="social-icon twitter"> <i class="fa-brands fa-twitter"></i> </a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/@northeastherald5966" class="social-icon youtube"> <i class="fa-brands fa-youtube"></i> </a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-5 mb-4">
            <ul class="footer-menu">
              <li><a href="/en/pages/about-tripura"><i class="fa-solid fa-chevron-right"></i>About Tripura</a></li>
              <li><a href="#"><i class="fa-solid fa-chevron-right"></i>About Northeast</a></li>
              <li><a href="/national"><i class="fa-solid fa-chevron-right"></i>National News</a></li>
              <li><a href="/tripura"><i class="fa-solid fa-chevron-right"></i>Tripura News</a></li>
              <li><a href="/world"><i class="fa-solid fa-chevron-right"></i>International</a></li>
              <li><a href="/showbiz"><i class="fa-solid fa-chevron-right"></i>Entertainment</a></li>
            </ul>
          </div>
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-5 mb-4">
            <ul class="footer-menu">
              <li><a href="/health"><i class="fa-solid fa-chevron-right"></i>Spot Light</a></li>
              <li><a href="/article"><i class="fa-solid fa-chevron-right"></i>Article Us</a></li>
              <li><a href="/health"><i class="fa-solid fa-chevron-right"></i>Health</a></li>
              <li><a href="/showbiz"><i class="fa-solid fa-chevron-right"></i>Lifestyle</a></li>
              <li><a href="/topnews/headlines/tripura"><i class="fa-solid fa-chevron-right"></i>Top News</a></li>
              <li><a href="/sports"><i class="fa-solid fa-chevron-right"></i>Sports</a></li>
            </ul>
          </div>
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-5 mb-4">
            <ul class="footer-menu">
              <li><a href="/en/pages/contact-us"><i class="fa-solid fa-chevron-right"></i>About Us</a></li>
              <li><a href="/en/pages/contact-us"><i class="fa-solid fa-chevron-right"></i>Contact Us</a></li>
              <li><a href="#"><i class="fa-solid fa-chevron-right"></i>Privacy Policy</a></li>
              <li><a href="#"><i class="fa-solid fa-chevron-right"></i>Code of Ethic</a></li>
              <li><a href="#"><i class="fa-solid fa-chevron-right"></i>Site Map</a></li>
              <li><a href="#"><i class="fa-solid fa-chevron-right"></i>Rss Feeds</a></li>
            </ul>
          </div>



          
          
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row copyright justify-content-center">
          <div class="col-md-12 text-center">
            <p class="mb-0">Copyright © <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> by <a href="/"> Northeast Herald</a>. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
 