<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">          
          {{!-- Add all category from --}}
          <a href="/national" class="right-bd">National</a>
          <a href="/international" class="right-bd">International</a>
          <a href="/sports" class="right-bd">Sports</a>
          <a href="/career" class="right-bd">Jobs</a>
          <a href="/entertainment" class="right-bd">Entertainment</a>
          <a href="/education" class="right-bd">Education</a>
          <a href="/lifestyle" class="right-bd">Beauty</a>
          <a href="/culture" class="right-bd">Culture</a>
          <a href="/article" class="right-bd">Article</a>
      </div>















      <!-- end col-12 -->

      <!-- end col-12 --> 
    </div>
    <br>
    <br>
    <!-- end row -->
    <div class="row align-items-center">
      <div class="col-lg-4">
        <ul class="footer-menu">
          <li><a href="/en/pages/about-us">About Us</a></li>
          <li><a href="/en/pages/privacy-policy">Privacy Policy</a></li>
          <li><a href="/en/pages/terms-and-conditions">Terms & Condition</a></li>
          <li><a href="/en/pages/disclaimer">Disclaimer</a></li>
          <li><a href="/en/pages/cookie-policy">Cookies Policy</a></li>
          <li><a href="/en/pages/code-of-ethic">Code of Ethic</a></li>
          <li><a href="/en/pages/contact-us">Contact Us</a></li>
        </ul>
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4">
        <figure class="footer-logo"> <img src="/images/kokthum.png" alt="Image"> </figure>
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4">
        <ul class="footer-social">
         <li><a href="https://facebook.com/Kokthumthenews"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/Kokthumthenews"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/@kokthumthenews"><i class="fab fa-youtube"></i></a></li>
          <li><a href="https://instagram.com/kokthumthenews"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- end col-4 -->
      <div class="col-12"> <span class="copyright">© 2023 Kokthum The News</span> </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</footer>