 <header class="header header-style-06">
    <div class="topbar d-none d-md-block" style="padding:0px;">
      <div class="container">
        <div class="topbar-inner">
          <div class="row">
            <div class="col-12">
              <div class="d-lg-flex justify-content-between text-center">
                <div class="topbar-center" >
                  <a class="navbar-brand d-none d-lg-block" href="/">
                    <img class="img-fluid logo-dark" src="https://neherald.com/images/newlogo.png" alt="logo" style="width: 40%;float:left;">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg">
      <div class="container position-relative">
        <a class="navbar-brand d-inline-block d-lg-none" href="/" style="padding-right: 30px;">
          <img class="img-fluid" src="https://neherald.com/images/newlogo.png" alt="logo">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown"> 
              <a class="nav-link" href="/" style="font-family: 'Times New Roman';font-size:18px;">Home</a>
            </li>

            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown02" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: 'Times New Roman';font-size:18px;">About Tripura<i class="fas fa-chevron-down fa-xs"></i></a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
                <li><a class="dropdown-item" style="font-family: 'Times New Roman';font-size:18px;" href="/en/pages/about-tripura">Tripura</a></li>
                <li><a class="dropdown-item" style="font-family: 'Times New Roman';font-size:18px;" href="/en/pages/tripura-governer">Governon</a></li>
                <li><a class="dropdown-item" style="font-family: 'Times New Roman';font-size:18px;" href="/en/pages/tripura-chief-minister">Chief Minister</a></li>
                <li><a class="dropdown-item" style="font-family: 'Times New Roman';font-size:18px;" href="/en/pages/tripura-minister">Council of Ministers</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown"> 
              <a class="nav-link" href="/tripura" style="font-family: 'Times New Roman';font-size:18px;">Tripura</a>
            </li>
            <li class="nav-item dropdown"> 
              <a class="nav-link" href="/national" style="font-family: 'Times New Roman';font-size:18px;">National</a>
            </li>
            <li class="nav-item dropdown"> 
              <a class="nav-link" href="/world" style="font-family: 'Times New Roman';font-size:18px;">International</a>
            </li>
            <li class="nav-item dropdown"> 
              <a class="nav-link" href="/showbiz" style="font-family: 'Times New Roman';font-size:18px;">Lifestyle</a>
            </li>
            <li class="nav-item dropdown"> 
              <a class="nav-link" href="/health" style="font-family: 'Times New Roman';font-size:18px;">Spotlight</a>
            </li>
            <li class="nav-item dropdown"> 
              <a class="nav-link" href="/sports" style="font-family: 'Times New Roman';font-size:18px;">Sports</a>
            </li>    
            <li class="nav-item dropdown"> 
              <a class="nav-link" href="/showbiz" style="font-family: 'Times New Roman';font-size:18px;">Entertainment</a>
            </li>  
            <li class="nav-item dropdown"> 
              <a class="nav-link" href="/api/v1/album" style="font-family: 'Times New Roman';font-size:18px;">Photo Album</a>
            </li>  



            <form action="/api/v1/search" method="get">

            <div class="input-group">

              <div class="form-outline">
                <input type="search" id="q" name="q" class="form-control" style="height:40px;margin-top:3px;" />
              </div>
              <button type="button" class="btn btn-primary" style="height:40px;margin-top:3px;">
                <i class="fas fa-search"></i>
              </button>

            </div>
            </form>


        </ul>
        </div>
        
        
      </div>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-align-right"></i>
        </button>
    </nav>
  </header>
  <!--=================================
  Header -->
