   <!--=================================
    Inner Header -->
    <section class="inner-header">
      <div class="container">
        <div class="row ">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Page</a></li>
              <li class="breadcrumb-item active"></i><span>{{heading}}</span></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Inner Header -->

    <!--=================================
    Blog -->
    <section class="space-ptb">
      <div class="container" style="max-width: 1130px;">
        <div class="row">
          <div class="col-lg-12 col-xl-12 blog-single">
            <div class="blog-post-info">
              <div class="blog-content pb-0">
               
                <div class="blog-post-title" style="text-align: center;font-family:times new roman">
                  <h3 class="mb-0" style="font-family: 'Times New Roman', Times, serif;"><a href="#">{{heading}}</a></h3>
                </div>
                
                 
                
                <div class="singlenews" style="text-align: justify;margin-top:15px;">
                        {{{pageI.page_content}}}
                </div>                
                
                
                
                
                
                
                
                
              </div>
            </div>
          </div>
         
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Blog -->

    <!--=================================
    Footer -->
   
    <!--=================================
    Footer -->

    <!--=================================
    Back To Top -->
   
    <!--=================================
    Back To Top -->

